body {
  margin: 0;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main {
  display: flex;
  background: url("/bg.png") center/cover no-repeat;
  min-height: 100vh;
}
