body {
  margin: 0;
  background: url("/bg.png") center/cover no-repeat;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main {
  /* display: flex; */
  margin: 0;
  /* background: url("/bg.png") center/cover no-repeat; */
  min-height: 100vh;
}
